#dashboards{
    position: relative;
    top: 2vh;
    left: 0vw;
    width: 100vw;
    height: 1000vh;

}
#dashboards-header{
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 3vh;
    text-align: left;
    padding-left: 4vw;
    font-size: 4vh;
}

#dashboards-main-section{
    position: relative;
    top: 3vh;
    left: 2vw;
    width: 96vw;
    height: 88vh;
    background: #FDFDFD;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;

}

.hidden-text{
    color: #00000000;
    transition: 1.3s;
    &:hover {
        color:black;
    }
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
