#welcome-page {
    background: black;
    color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 2vh;
}
#welcome-header{

    font-weight: bold;
    position: relative;
    top:2vh;
    width: 100%;
    text-align: center;
}


.app-name{

    font-size: 10vh;
    @media only screen and (max-width: $mobile-horizonal) {
        font-size: 9vh;
    }

    @media only screen and (max-width: $mobile-vertical) {
        font-size: 6vh;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotation-backward {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}


.pie-image{
    position: fixed;
    top:25vh;
    width: 20vw;
    left: 40vw;


    @media only screen and (max-width: $mobile-horizonal) {
        top:21vh;
        width: 40vw;
        left: 30vw;
    }

    @media only screen and (max-width: $mobile-vertical) {
        top:26vh;
        width: 60vw;
        left: 20vw;
    }


}


#pie-image-1{
    animation: rotation 5s infinite linear;
}

#pie-image-2{
    animation: rotation-backward 4s infinite linear;
}

#pie-image-3{
    animation: rotation 7s infinite linear;
}

#pie-image-4{
    animation: rotation 5s infinite linear;
}
